<form [formGroup]="formulaire" (ngSubmit)="onSubmit()">
  <span class="text-red-600"
        *ngIf="formulaire.hasError('heureDebutSuperieurAHeureFin') && formulaire.get('heureDebut')?.touched && formulaire.get('heureFin')?.touched"
  >L'heure de debut Ne peux pas etre superieur ou egal a l'heure de fin</span>
  <div class="flex flex-col md:grid-cols-2 md:gap-6">
    <div class="flex justify-between">
    <mat-form-field class="w-[600px]">
      <input matInput
             formControlName="heureDebut"
             name="selected_time_B"
             [ngxMatTimepicker]="pickerB"
             placeholder="08:00"
             format="24.0"
             readonly />
      <mat-icon matSuffix
                (click)="pickerB.open()">
        watch_later
      </mat-icon>
    </mat-form-field>
    <ngx-mat-timepicker color="primary" #pickerB></ngx-mat-timepicker>
    <mat-form-field class="w-[600px]">
      <input matInput
             formControlName="heureFin"
             name="selected_time_A"
             [ngxMatTimepicker]="pickerA"
             placeholder="17:00"
             format="24.0"
             readonly />
      <mat-icon matSuffix
                (click)="pickerA.open()">
        watch_later
      </mat-icon>
    </mat-form-field>
    <ngx-mat-timepicker color="primary" #pickerA></ngx-mat-timepicker>
    </div>
<div class="flex justify-between">
    <mat-form-field class="w-[600px]">
      <mat-label>Selectionnez une salle</mat-label>
      <mat-select formControlName="salle">
        <mat-option *ngFor="let salle of salles" [value]="salle.id">
          {{ salle.nom }}
        </mat-option>
      </mat-select>
    </mat-form-field>
        <mat-form-field class="w-[600px]">
          <mat-label>Selectionnez une classe</mat-label>
          <mat-select formControlName="classe" multiple style="outline: none; border: none">
            <mat-option *ngFor="let classe of classes" [value]="classe.id">{{ classe.libelle }}</mat-option>
          </mat-select>
        </mat-form-field>
</div>
<div class="flex justify-between">
    <mat-form-field class="w-[600px]">
      <mat-label>Selectionnez un cour</mat-label>
      <mat-select formControlName="cours">
        <mat-option *ngFor="let cour of cours" [value]="cour.id">
          {{ cour.module }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-[600px]">
      <mat-label>Choisissez une date</mat-label>
      <input readonly="true" matInput [matDatepicker]="picker" formControlName="date"/>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="formulaire.get('date')?.hasError('dateInvalide')">La date doit être supérieure à la date actuelle.</mat-error>
    </mat-form-field>
</div>
  </div>
  <section class="example-section">
    <mat-checkbox formControlName="enligne" class="example-margin" color="primary">En ligne</mat-checkbox>
  </section>
  <button
    [disabled]="!formulaire.valid"
    [ngClass]="{ 'disabled-button': !formulaire.valid }"
    type="submit"
    class="mt-5 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Submit
  </button>
</form>




